body{
    font-family: 'Noto Sans KR', sans-serif;
}

.bg-custom {
    background-image: url('/static/background.jpg');
    background-position: right;  /* Center the background */
    background-repeat: no-repeat;  /* Do not repeat the image */
    object-fit: contain;
}


.text-box {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}